@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background: black; */
}
/* .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  width: 676px !important;
} */

/* 
a {
  color: inherit;
  text-decoration: none;
} */
/* 
* {
  box-sizing: border-box;
} */
